<div class="subview-container routine-view">
  <div class="routine-overview">
    <div class="routine-headline">
      <div class="icon-with-stat"><i class="icon icon-star"></i><div class="stat">10</div></div>
      <div class="routine-title">Habits that brought me from an average student to a 4.0 student last semester</div>
    </div>
    <div class="routine-metrics">
      <div class="routine-metric">30 Days</div>
      <div class="routine-metric">3 People following</div>
      <div class="routine-metric">5 Habits</div>
    </div>
  </div>
  <div class="routine-description basic-container">A background on me: I am a foreign student currently attending university on a scholarship in the US. For a while now, I have had the feeling that I did not achieve all that could </br>Be done with my potential; I felt like an underachiever, which I was. Coming to the US was like a completely clean slate for me and I wan...<span class="continue-reading">Continue Reading</span></div>
  <div class="basic-container">
    <div class="section-label">4 Habits Tracked</div>
    <div ng-repeat="habit in habits" class="habit-container">
      {{habit}}
    </div>
  </div>
  <div class="basic-container">
    <div class="section-label">11 Discussions</div>
    <div ng-repeat="discussion in discussions" class="discussion-container">
      <div class="upvote"><div class="icon-with-stat"><i class="icon icon-star"></i><div class="stat">{{discussion.upvotes}}</div></div></div>
        <div>
          {{discussion.title}}
        </div>
    </div>
  </div>
</div>
