<div class="subview-container routine-container">
  <div class="page-title full-width">
    <div class="routine-title">View Routines</div>
    <div class="button-container pull-right">
      <div class="create-button">+ Create</div>
    </div>
  </div>
  <div class="selector-container full-width">
    <div class="profile-selector" ng-click="sortBy()">
      <div class="sort-text">{{sortByText || 'Sort By Favorited'}}</div>
      <div class="select-icon ion-ios-arrow-down">
      </div>
    </div>
    <div class="profile-selector" ng-click="viewByTheme()">
      <div class="sort-text">{{viewTheme || 'Filter by Self Discipline'}}</div>
      <div class="select-icon ion-ios-arrow-down">
      </div>
    </div>
  </div>

  <div class="list-container routines full-width">
    <div class="routine-card" ng-repeat="routine in routines">
      <div class="routine-social-metrics">
        <div class="icon-with-stat"><i class="icon icon-star"></i><div class="stat">{{routine.stars}}</div></div>
      </div>
      <div class="routine-description">
        <div class="card-title">{{routine.title}}</div>
        <div class="routine-metrics">{{routine.author}} | {{routine.habits}} Habits | {{routine.comments}} discussions</div>
      </div>
    </div>
  </div>
</div>
