//Caution - import order matters
@import 'variables.less';
@import 'mixins.less';
@import 'login.less';
@import 'frame.less';
@import 'card.less';
@import 'profile.less';
@import 'voting.less';
@import 'trait.less';
@import 'feedback.less';
@import 'modals.less';

@font-face {
  font-family: 'header-font';
  src: url('../assets/fonts/Header.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'primary-font';
  src: url('../assets/fonts/typeFont.ttf');
  font-weight: 400;
}

html {
  height: 100%;
  color: @primary-font-color;
  font-size: @font-standard;

  * {
    font-family: 'primary-font', 'Helvetica', 'Arial', 'sans-serif';
  }
}

body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.scroll-bar-indicator {
  display: none;
}
