//Caution - import order matters
@import 'variables.less';
@import 'mixins.less';
@import 'login.less';
@import 'frame.less';
@import 'card.less';

@font-face {
  font-family: 'ShopBuddy';
  src: url('../assets/fonts/Header.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'typeFont';
  src: url('../assets/fonts/typeFont.ttf');
  font-weight: 400;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
