@card-height: 65vh;
@card-width: calc(100% ~"-" @card-border * 2);
@card-width-2: calc(100% ~"-" @card-border * 2 ~"-" 6px);
@card-width-3: calc(100% ~"-" @card-border * 2 ~"-" 12px);
@card-border: 1px;

div.voting-container {
  padding: 0;
  height: 100%;
}

.empty-state {
  margin-top: 20%;
  .empty-state-text {
    text-align: center;
  }
  .empty-icon {
    margin: 0 auto;
    display: block;
    font-size: 212px;
  }
}

div.votes {
  height: @card-height;
  min-height: 350px;
  position: relative;
  margin: 0 auto;
  .card:nth-child(1) {
    z-index: @z-index-top;
  }
  .card:nth-child(2) {
    width: @card-width-2;
    margin: 5px 0 0 3px;
    z-index: @z-index-middle;
  }
  .card:nth-child(3) {
    width: @card-width-3;
    margin: 10px 0 0 6px;
    z-index: @z-index-bottom;
  }
}

div.card {
  width: @card-width;
  background-color: white;
  position: absolute;
  border: @card-border solid @secondary-color;
  border-radius: @round-border-radius;

  .card-content {
    border-radius: @round-border-radius;
    height: 100%;
    box-shadow: 0 4px 2px -2px @border-gray;
    color: @primary-font-color;

    @card-header-height: 14vh;
    @contestant-picture-height: 43vh;
    .contestant-width {
      .width-minus-box(@base-width: 50%, @border: 0px);
    }
    .card-main {
      .contestant-parent-container {
        padding: 0;
        display: inline-block;
      }
      .contestant-container {
        width: 100%;
        overflow: hidden;
      }
      .contestant-picture {
        .background-picture();
        width: 100%;
        background-color: white;
        height: @contestant-picture-height;
      }
      @description-height: 25px;
      @description-padding: 7px;
      .contestant-overlay {
        background-color: @secondary-color;
        height: calc(@contestant-picture-height + @description-padding * 2 + @description-height);
        position: absolute;
        display: none;
        color: @primary-font-color;

        .vote-meter {
          .flex-center();
          font-size: @font-standard;
          height: 100%;
          width: 100%;
          text-align: center;
          .separate-from-flex {
            width: 100%;
          }
          .meter-score {
            margin: 10px 0;
            color: @primary-color;
            font-weight: bold;
            display: block;
            font-size: @font-icon-size;
          }
          .overflow-protection {
            width: 80%;
            .ellipsis-overflow();
            margin: 0 auto;
          }
        }
      }
      .contestant-description {
        @contestant-height: @description-height;
        .flex-center();
        height: @contestant-height;
        padding: @description-padding;
        overflow: hidden;
        font-size: @font-standard;
        font-weight: bold;
        text-transform: capitalize;
        .name {
          .ellipsis-overflow();
          font-size: @font-smaller;
        }
      }
    }
    // .card-comment {
    //   .ellipsis-overflow();
    //   text-align: center;
    //   padding: 10px;
    //   display: block;
    //   width: 50%;
    //   margin: 0 auto;
    //   border: 1px solid @primary-color;
    // }
    .card-header {
      .flex-center();
      text-align: center;
      height: @card-header-height;
      padding: 0px 15px;
      font-size: @font-large;
      font-weight: bold;
    }
  }
}
