@card-height: 500px;
@card-width: calc(100% ~"-" @card-container-padding * 2 ~"-" @card-padding * 2);
@card-width-2: calc(100% ~"-" @card-container-padding * 2 ~"-" @card-padding * 2 ~"-" 4px);
@card-width-3: calc(100% ~"-" @card-container-padding * 2 ~"-" @card-padding * 2 ~"-" 8px);
@card-padding: 0px;
@card-container-padding: 15px;

div.voting-container {
  padding: 20px 0;
}

div.votes {
  height: @card-height;
  position: relative;
  margin: 0 auto;
  padding: @card-container-padding;
  .card:nth-child(1) {
    z-index: @z-index-top;
  }
  .card:nth-child(2) {
    width: @card-width-2;
    margin: 3px 0 0 2px;
    z-index: @z-index-middle;
  }
  .card:nth-child(3) {
    width: @card-width-3;
    margin: 6px 0 0 4px;
    z-index: @z-index-bottom;
  }
}

div.card {
  height: @card-height;
  width: @card-width;
  background-color: white;
  position: absolute;
  border: 1px solid @border-gray;
  border-radius: @round-border-radius;
  padding: @card-padding;
  .card-content {
    background-color: @secondary-color;
    height: 100%;

    @card-header-height: 60px;

    .card-main {
      @candidate-padding: 2px;
      .candidate-transitioner {
        padding: 0 @candidate-padding;
        width: calc(50% ~"-" @candidate-padding * 2);
        display: inline-block;
      }
      .candidate-container {
        width: 100%;
        overflow: hidden;
      }
      .candidate-picture {
        border-radius: @round-border-radius;
        padding: 2px;
        background-color: white;
        height: 155px;

        img {
          border-radius: @round-border-radius;
          height: 100%;
          width: 100%;
        }
      }
      .candidate-description {
        @candidate-height: 90px;
        @name-height: 20px;
        height: @candidate-height;
        padding: 5px;
        .name, .feedback-name {
          text-align: left;
        }
        .name {
          .ellipsis-overflow();
          height: @name-height;
          width: 100%;
          font-weight: 600;
          display: inline-block;
        }
        .social-description {
          font-size: 14px;
          height: calc(90px ~"-" @name-height);

          .friends {
            width: 35%;
          }
          .location {
            width: 65%;
          }
          .location, .friends {
            display: inline-block;
            max-height: 100%;
            text-align: center;
            font-size: @font-smaller;
            overflow: hidden;
          }
        }
      }
    }

    .card-header {
      height: @card-header-height;
      justify-content: center;
      display: flex;
      font-size: @font-large;
      font-weight: bold;
      color: white;
      align-items: center;
    }
    .card-comment {
      margin: 20px 10px 10px 10px;
      border-radius: @round-border-radius;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 123px;
      background-color: white;
      color: @secondary-font-color;
      text-align: center;
    }
    .feedback-input-container {
      height: 100%;
      width: 100%;
      .feedback-input {
        height: 100%;
        width: 100%;
        border: 0;
        &:focus {
          outline: 0;
          resize: none;
        }
      }
    }
  }
}
