@card-height: 475px;
@card-width: 300px;
@card-container-padding: 20px;

div.voting-container {
  padding: 30px 0;
}

div.votes {
  height: @card-height;
  position: relative;
  margin: 0 auto;
  padding: @card-container-padding;
  .card:nth-child(1) {
    z-index: @z-index-top;
  }
  .card:nth-child(2) {
    width: calc(@card-width ~"-" 2px);
    margin: 2px 0 0 1px;
    z-index: @z-index-middle;
  }
  .card:nth-child(3) {
    width: calc(@card-width ~"-" 4px);
    margin: 4px 0 0 2px;
    z-index: @z-index-bottom;
  }
}

div.card {
  height: @card-height;
  width: @card-width;
  background-color: white;
  position: absolute;
  border: 1px solid @border-gray;
  border-radius: 3px;
  padding: 10px;
  .card-content {
    background-color: @secondary-color;
    height: 100%;

    @card-header-height: 50px;

    .card-main {
      @candidate-padding: 2px;
      .candidate-transitioner {
        padding: 0 @candidate-padding;
        width: calc(50% ~"-" @candidate-padding * 2);
        display: inline-block;
      }
      .candidate-container {
        width: 100%;
        overflow: hidden;
      }
      .candidate-picture {
        padding: 3px;
        background-color: white;
        height: 150px;

        img {
          height: 100%;
          width: 100%;
        }
      }
      .candidate-description {
        @candidate-height: 90px;
        @name-height: 20px;
        height: @candidate-height;
        padding: 5px;
        .name, .feedback-name {
          text-align: center;
        }
        .name {
          .ellipsis-overflow();
          height: @name-height;
        }
        .social-description {
          @social-padding-height: 5px;
          padding: @social-padding-height 0;
          height: calc(90px ~"-" @social-padding-height * 2 ~"-" @name-height);
          display: flex;
          align-items: center;

          .friends {
            width: 35%;
          }
          .location {
            width: 65%;
          }
          .location, .friends {
            display: inline-block;
            max-height: 100%;
            text-align: center;
            font-size: @font-smaller;
            overflow: hidden;
          }
        }
      }
    }

    .card-header {
      height: @card-header-height;
      justify-content: center;
      display: flex;
      font-size: @font-large;
      font-weight: bold;
      color: white;
      align-items: center;
    }
    .card-comment {
      margin: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      height: 123px;
      background-color: white;
      color: @secondary-font-color;
    }
    .feedback-input-container {
      height: 100%;
      width: 100%;
      .feedback-input {
        height: 100%;
        width: 100%;
        border: 0;
        &:focus {
          outline: 0;
          resize: none;
        }
      }
    }
  }
}
