.feedback-container {
  color: @primary-font-color;
  position: relative;

  .feedback-email {
    .email-text {
      margin-top: 10px;
      border: 1px solid @primary-color;
      padding: 15px;
      .width-minus-box(@padding: 15px);
    }
  }
  .feedback-text {
    margin-top: 10px;
    height: 150px;
  }
  .feedback-text-area {
    height: 100%;
    .text-area();
  }
  .feedback-comments {
    .flex-center();
    .rounded-borders();
    @comments-padding: 15px;
    height: 100px;
    background-color: @secondary-color;
    padding: @comments-padding;
  }
  .feedback-submit-button {
    .btn-defaults();
    .bottom();
    padding: 15px 0;
    content: "Submit";
    width: 100%;
  }
}
