@navbar-height: 50px;
body {
  .ios-parentView-defaults();
}
div.frame-container {
  .ios-parentView-defaults();
  height: 100%;
  overflow: hidden;
  .view-container {
    @border-height: 1px;
    border-top: @border-height solid transparent;

    @view-height: calc(100% ~"-" @navbar-height ~"-" @border-height * 2);
    height: @view-height;
    max-height: @view-height;
    background-color: @view-background-color;
  }
}

#modal-overlay {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: @modal-z-bottom;
}

div.navbar-container {
  height: @navbar-height;
  background-color: white;
  border-bottom: 2px solid @primary-color;
  .flex-center();

  div.title-container {
    .flex-left();
    flex-grow: 2;
    height: 100%;

    .go-back {
      .flex-left();
      height: 100%;
      width: 30%;
    }
    .beta-heading {
      font-size: @font-smaller;
    }
  }
  .go-back-btn {
    padding: 0 10px;
    display: inline-block;
  }
  .go-back {
    color: @primary-color;
  }
  .title {
    font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
    font-size: @font-icon-size;
    color: @primary-color;
    font-weight: bold;
    margin-left: 10px;
  }
  .navigation {
    .flex-center();
    height: 100%;
    padding: 0;
    color: @primary-color;
  }
  .ion-chevron-right {
    display: inline-block;
    margin-left: 10px;
  }
}

@subview-container-margin: 10px;
.subview-container {
  margin: @subview-container-margin;
  height: calc(100% ~"-" 2 ~"*" @subview-container-margin);
  overflow-y: scroll;
  overflow-x: hidden;
}

.right {
  float: right;
}

.nav {
  width: 50px;
  height: 50px;
  .flex-center();
  .icon {
    fill: @primary-color;
    height: 50%;
    width: 100%;
  }
  &.settings {
    font-size: 32px;
  }
  &.selected {
    .icon {
      fill: @primary-font-color;
    }
  }
}
