div.landing-container {
  border: 1px solid transparent;
}
div.list.landing {
  background-color: @primary;
  position: relative;
}

h2.title {
  color: white;
  text-align: center;
}

button.login {
  background-color: @opaque-white-darker;
  height: 30px;
}

div.login-block {
  .placeholder-color(@opaque-white);
  margin-top: 140px;
  input {
    color: white;
  }

  input, button.login {
    width: 65%;
    margin: 0 auto;
    border: none;
  }
}

.transparent-inputs {
  input {
    background-color: transparent;
  }
}

input.block {
  display: block
}

div.button-group {
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 30px;
  color: white;
}
