.popup-container {
  .rounded-borders();
  @popup-width: 300px;
  background-color: white;
  z-index: @modal-z-middle;
  width: @popup-width;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
  .popup-text {
    padding: 20px;
    padding-top: 0px;
    font-size: @font-large;
    .flex-center();
    text-align: center;
  }
  .popup-title {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: @font-larger;
  }
  .popup-list-container {
    .popup-sublist-item, .popup-list-item {
      color: @primary-color;
      &:first-child {
        border-top: 1px solid @border-gray;
        border-bottom: 1px solid @border-gray;
      }
      &:not(:first-child) {
        border-bottom: 1px solid @border-gray;
      }
    }

    .popup-sublist-item {
      padding: 10px;
      .main-text {
        font-size: @font-large;
      }
      .subtitle {
        font-size: @font-smaller;
        font-weight: bold;
        color: @primary-font-color
      }
    }
    .popup-list-item {
      font-size: @font-large;
      padding: 20px;
    }
  }
  .email-input {
    .text-input-defaults();
    padding: 10px;
    width: 80%;
  }
  .popup-submit {
    .clear-fix();
    padding: 20px;
    .submit-btn {
      .rounded-borders();
      padding: 7px 10px;
      display: inline-block;
      font-size: @font-large;
      background-color: @primary-color;
      margin-left: 10px;
      text-align: center;
      color: white;
      font-weight: bold;
    }
  }
}
