//Profile page css
@profile-overview-width: 57%;
.profile-container {
  .subview-container-defaults();
}
.profile-overview-container {
  width: 100%;
  height: 25%;
  padding-bottom: @subview-container-margin;
  border-bottom: 1px solid @primary-color;
  .settings {
    float: right;
    padding-right: 5px;
  }
}
.profile-picture-container, .profile-overview {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.profile-picture-container {
  width: calc(100% ~"-" @profile-overview-width ~"-" 3px);
  .profile-picture {
    .background-picture();
    border-radius: 5px;
    background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12108274_10101564644192315_7334749882900604967_n.jpg?oh=e0fee8c71ce074b2ba8180193ae610bb&oe=56E3A4FB");
  }
}

.profile-overview {
  width: calc(@profile-overview-width ~"-" 3px);

  div {
    text-align: center;
  }
  .name {
    font-size: @font-standard;
    font-weight: bold;
    border-bottom: 1px solid @primary-color;
    padding-bottom: 5px;
  }
  .overview {
    padding: 25px 5px;
  }
}
.selector-container {
  padding: @subview-container-margin 0;
}
//Trait card css
.trait-container {
  background-color: @secondary-color;
  height: 50px;
  position: relative;
  width: 100%;
  margin: 5px 0;
  z-index: @z-index-bottom;
  .flex-center();

  &:first-child {
    margin-top: 0;
  }

  .score-overlay {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: @primary-color;
    z-index: @z-index-middle;
  }

  .trait-title, .ion-chevron-right {
    padding: 0 15px;
    z-index: @z-index-top;
  }
  .trait-score {
    font-weight: 400;
  }
  .trait-title {
    .ellipsis-overflow();
    flex-grow: 1;
    text-transform: capitalize;
    font-weight: bold;
  }
}
