@profile-overview-width: 65%;
@vertical-padding: 5px;
.profile-overview-container {
  .width-minus-box(@padding: @subview-container-margin);
  height: 20%;
  padding: @subview-container-margin;
  border: 1px solid @secondary-color;
  .rounded-borders();
}
.trait-notification {
  //padding done in a janky way to ensure .close hitbox is large enough
  .flex-left();
  .rounded-borders();
  color: white;
  padding: 7px 10px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: @primary-color;
  .notification-text {
    font-size: @font-smaller;
    padding: 10px 0px 10px 0px;
  }
  .close {
    .flex-center();
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
}
.profile-picture-container, .profile-overview {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.profile-picture-container {
  width: calc(100% ~"-" @profile-overview-width ~"-" 3px);
  .profile-picture {
    .background-picture();
    .rounded-borders();
  }
}

.profile-overview {
  .width-minus-box(@base-width: @profile-overview-width, @padding: 4px);
  @profile-name-height: 25px;
  padding: 4px;
  .name {
    .ellipsis-overflow();
    font-weight: bold;
    text-transform: capitalize;
    height: @profile-name-height;
    text-align: left;
  }
  .overview {
    .flex-center();
    height: calc(100% ~"-" @profile-name-height ~"-" 2 ~"*" @vertical-padding ~"-" 2px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.selector-container {
  padding: @subview-container-margin 0;
}
.selection-label {
  margin-top: 5px;
}
//Custom dropdowns
.profile-selector {
  .flex-left();
  .rounded-borders();
  .width-minus-box();

  height: 30px;
  border: 1px solid @primary-font-color;
  .select-icon {
    padding: 0 10px;
  }
  .sort-text {
    .ellipsis-overflow();
    .flex-grow(@growth: 2);
    padding: 0 10px;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
}
//Trait card css
.trait-container {
  .flex-center();
  .rounded-borders();

  background-color: @secondary-color;
  height: 50px;
  position: relative;
  width: 100%;
  margin: 5px 0;
  z-index: @z-index-bottom;

  &:first-child {
    margin-top: 0;
  }

  .score-overlay {
    position: absolute;
    height: 100%;
    left: 0;
    background-color: @overlay-color;
    z-index: @z-index-middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .trait-title, .ion-chevron-right {
    padding: 0 10px;
    z-index: @z-index-top;
  }
  .trait-title {
    .ellipsis-overflow();
    //Mobile safari not respecting zindex with overflow hidden in this case
    overflow: visible;
    .flex-grow(@growth: 2);
    font-weight: bold;
    .trait-score {
      font-weight: 400;
    }
  }
}
