.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.background-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subview-container-defaults {
  margin: 10px;
  height: calc(100% - 2 * 10px);
  overflow-y: scroll;
  overflow-x: hidden;
}
div.login-container {
  background-color: #997799;
  overflow: hidden;
  height: 100%;
}
div.list.landing {
  position: relative;
  margin-top: 150px;
}
h2.title {
  color: white;
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
  font-size: 42px;
  margin: 0;
}
.login-with-fb {
  background-color: #3b5998;
  width: 100%;
  color: white;
}
.login-with-fb .logo-container {
  vertical-align: top;
  height: calc(50px - 2 * 5px);
  width: calc(50px - 2 * 5px);
  margin: 5px;
  display: inline-block;
}
.login-with-fb .login-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}
.fb-logo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../assets/fbLogo.png');
}
button.login {
  margin-top: 20px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
div.login-block ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.login-block :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
div.login-block ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
div.login-block :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.login-block input {
  color: white;
}
div.login-block .login-input-container {
  margin: 150px auto;
  width: 85%;
}
div.login-block input,
div.login-block button.login {
  width: 100%;
  border: none;
  font-size: 14px;
}
div.login-block input:focus,
div.login-block button.login:focus {
  outline: none;
}
div.login-block .login-input {
  margin: 5px auto;
  border-bottom: 1px solid white;
  height: 20px;
}
.transparent-inputs input {
  background-color: transparent;
}
input.block {
  display: block;
}
div.button-group {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: white;
}
.bottom {
  position: absolute;
  bottom: 0;
}
div.frame-container {
  height: 100%;
  overflow: hidden;
}
div.frame-container .view-container {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  height: calc(100% - 50px - 1px * 2);
  max-height: calc(100% - 50px - 1px * 2);
  background-color: rgba(255, 255, 255, 0.8);
}
div.navbar-container {
  height: 50px;
  background-color: white;
  border-bottom: 2px solid #997799;
}
div.navbar-container div.title-container {
  height: 100%;
  display: inline-block;
}
div.navbar-container .title {
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 35px;
  color: #997799;
  margin: 3px 7px;
}
div.navbar-container .navigation {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0 5px;
}
div.navbar-container .navigation .nav {
  padding: calc(50px / 2 - 5px) 5px calc(50px / 2 - 12px) 5px;
  display: inline-block;
  font-size: 12px;
  color: #997799;
}
div.navbar-container .selected {
  font-weight: bold;
  border-bottom: 5px solid #997799;
}
div.navbar-container .ion-chevron-right {
  display: inline-block;
  margin-left: 10px;
}
div.voting-container {
  padding: 0;
  height: 100%;
}
.empty-state {
  margin-top: 20%;
}
.empty-state .empty-state-text {
  text-align: center;
}
.empty-state .empty-icon {
  margin: 0 auto;
  display: block;
  width: 50%;
  font-size: 212px;
}
div.votes {
  height: 70%;
  position: relative;
  margin: 0 auto;
  padding: 8px;
}
div.votes .card:nth-child(1) {
  z-index: 10;
}
div.votes .card:nth-child(2) {
  width: calc(100% - 8px * 2 - 0px * 2 - 6px);
  margin: 5px 0 0 3px;
  z-index: 5;
}
div.votes .card:nth-child(3) {
  width: calc(100% - 8px * 2 - 0px * 2 - 12px);
  margin: 10px 0 0 6px;
  z-index: 0;
}
div.card {
  height: 100%;
  width: calc(100% - 8px * 2 - 0px * 2);
  background-color: white;
  position: absolute;
  border: 1px solid #B9B7B7;
  padding: 0px;
  border-radius: 3px;
}
div.card .card-content {
  background-color: white;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 4px 2px -2px #B9B7B7;
  color: #221122;
}
div.card .card-content .card-main {
  margin: 10px 0;
}
div.card .card-content .card-main .candidate-transitioner {
  padding: 0 2px;
  width: calc(50% - 2px * 2);
  display: inline-block;
}
div.card .card-content .card-main .candidate-container {
  width: 100%;
  overflow: hidden;
}
div.card .card-content .card-main .candidate-picture {
  border-radius: 3px;
  padding: 2px;
  background-color: white;
  height: 155px;
}
div.card .card-content .card-main .candidate-picture img {
  border-radius: 3px;
  height: 100%;
  width: 100%;
}
div.card .card-content .card-main .candidate-description {
  height: 90px;
  padding: 10px;
  overflow: hidden;
}
div.card .card-content .card-main .candidate-description .name {
  text-align: center;
}
div.card .card-content .card-main .candidate-description .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  font-size: 14px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
}
div.card .card-content .card-main .candidate-description .social-description {
  margin-top: 8px;
  text-align: center;
  font-size: 12px;
}
div.card .card-content .card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ddccee;
  text-transform: capitalize;
}
div.card .card-content .card-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 10px 10px;
  border-radius: 3px;
  padding: 10px;
  height: 123px;
  background-color: white;
}
.profile-container {
  margin: 10px;
  height: calc(100% - 2 * 10px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.profile-overview-container {
  width: 100%;
  height: 25%;
  padding-bottom: 10px;
  border-bottom: 1px solid #997799;
}
.profile-overview-container .settings {
  float: right;
  padding-right: 5px;
}
.profile-picture-container,
.profile-overview {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.profile-picture-container {
  width: calc(100% - 57% - 3px);
}
.profile-picture-container .profile-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5px;
  background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12108274_10101564644192315_7334749882900604967_n.jpg?oh=e0fee8c71ce074b2ba8180193ae610bb&oe=56E3A4FB");
}
.profile-overview {
  width: calc(57% - 3px);
}
.profile-overview div {
  text-align: center;
}
.profile-overview .name {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #997799;
  padding-bottom: 5px;
}
.profile-overview .overview {
  padding: 25px 5px;
}
.selector-container {
  padding: 10px 0;
}
.trait-container {
  background-color: #ddccee;
  height: 50px;
  position: relative;
  width: 100%;
  margin: 5px 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trait-container:first-child {
  margin-top: 0;
}
.trait-container .score-overlay {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: #997799;
  z-index: 5;
}
.trait-container .trait-title,
.trait-container .ion-chevron-right {
  padding: 0 15px;
  z-index: 10;
}
.trait-container .trait-score {
  font-weight: 400;
}
.trait-container .trait-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  text-transform: capitalize;
  font-weight: bold;
}
.selection-container {
  position: absolute;
  bottom: 0;
  width: 60%;
  padding: 0 calc(50% - 60% / 2) calc(150px / 2 - 80px / 2 - 20px) calc(50% - 60% / 2);
}
.selection-holder {
  height: 80px;
  background-color: #ddccee;
  border-radius: 80px;
}
.click-vote {
  margin: 5px;
  height: calc(80px - 5px * 2);
  width: calc(80px - 5px * 2);
  border-radius: calc(80px - 5px * 2);
  background-color: #997799;
  display: inline-block;
}
.click-vote .vote-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 25px;
  color: white;
}
.vote-right {
  float: right;
}
.selection-label {
  color: #221122;
}
.selection-label .left-label,
.selection-label .right-label {
  display: inline-block;
  font-size: 12px;
  max-width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selection-label .right-label {
  float: right;
}
.selection-label .left-label {
  float: left;
}
.trait-details-container {
  margin: 10px;
  height: calc(100% - 2 * 10px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.trait-details-container .trait-overview-container {
  width: 100%;
  height: 25%;
  background-color: #ddccee;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trait-details-container .trait-title,
.trait-details-container .trait-stats {
  display: inline-block;
  color: #221122;
  font-size: 14px;
}
.trait-details-container .trait-title {
  text-transform: capitalize;
  font-weight: bold;
}
.trait-details-container .divider {
  border: 1px solid #997799;
}
.feedback-container {
  margin: 10px;
  height: calc(100% - 2 * 10px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.feedback-container .feedback-comments {
  width: calc(100% - 2 * 15px);
  height: calc(30% - 2 * 15px);
  background-color: #ddccee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #221122;
  padding: 15px;
}
@font-face {
  font-family: 'header-font';
  src: url('../assets/fonts/Header.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'primary-font';
  src: url('../assets/fonts/typeFont.ttf');
  font-weight: 400;
}
html {
  height: 100%;
  font-family: 'primary-font', 'Helvetica', 'Arial', 'sans-serif';
  color: #221122;
  font-size: 14px;
}
body {
  margin: 0;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.scroll-bar-indicator {
  display: none;
}
