.ios-parentView-defaults {
  transform: translate3d(0%, 0px, 0px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}
.clear-fix {
  overflow: auto;
}
.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.background-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.flex-column {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-start;
  -webkit-flex-direction: column;
  display: -webkit-flex;
}
.flex-column-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  display: -webkit-flex;
}
.rounded-borders {
  border-radius: 3px;
}
div.login-container {
  transform: translate3d(0%, 0px, 0px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  background: #3E18BD;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3E18BD 0%, #7162BB 75%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3E18BD 0%, #7162BB 75%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3E18BD 0%, #7162BB 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  overflow: hidden;
  height: 100%;
}
div.list.landing {
  position: relative;
  margin-top: 150px;
}
h2.title {
  color: white;
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
  font-size: 50px;
  margin: 0;
}
.login-with-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  background-color: #3b5998;
  width: 100%;
  height: 50px;
  color: white;
  border-radius: 3px;
}
.login-with-fb .logo-container {
  vertical-align: top;
  height: calc(50px - 2 * 5px);
  width: calc(50px - 2 * 5px);
  margin-left: 5px;
}
.login-with-fb .login-text {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  font-weight: bold;
}
.fb-logo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../assets/fbLogo.png');
}
button.login {
  margin-top: 20px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.button-group.bottom {
  position: absolute;
  bottom: 0;
}
.button-group.bottom input,
.button-group.bottom button.login {
  width: 100%;
  border: none;
  font-size: 14px;
}
.button-group.bottom input:focus,
.button-group.bottom button.login:focus {
  outline: none;
}
.button-group.bottom .login-input {
  margin: 5px auto;
  border-bottom: 1px solid white;
  height: 20px;
}
.login-input-container {
  margin: 0 auto;
  width: 85%;
}
.transparent-inputs input {
  background-color: transparent;
}
input.block {
  display: block;
}
div.button-group {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: white;
}
a.login-tag {
  padding: 15px;
  display: block;
  width: 50%;
  margin: 0 auto;
}
.sub-title {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
body {
  transform: translate3d(0%, 0px, 0px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
}
div.frame-container {
  transform: translate3d(0%, 0px, 0px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: hidden;
}
div.frame-container .view-container {
  border-top: 1px solid transparent;
  height: calc(100% - 50px - 1px * 2);
  max-height: calc(100% - 50px - 1px * 2);
  background-color: rgba(255, 255, 255, 0.8);
}
#modal-overlay {
  opacity: 0.5;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 11;
}
div.navbar-container {
  height: 50px;
  background-color: white;
  border-bottom: 2px solid #3E18BD;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
div.navbar-container div.title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  height: 100%;
}
div.navbar-container div.title-container .go-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  height: 100%;
  width: 30%;
}
div.navbar-container div.title-container .beta-heading {
  font-size: 12px;
}
div.navbar-container .go-back-btn {
  padding: 0 10px;
  display: inline-block;
}
div.navbar-container .go-back {
  color: #3E18BD;
}
div.navbar-container .title {
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 35px;
  color: #3E18BD;
  font-weight: bold;
  margin-left: 10px;
}
div.navbar-container .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  height: 100%;
  padding: 0;
  color: #3E18BD;
}
div.navbar-container .ion-chevron-right {
  display: inline-block;
  margin-left: 10px;
}
.subview-container {
  margin: 10px;
  height: calc(100% - 2 * 10px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.right {
  float: right;
}
.nav {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.nav .icon {
  fill: #3E18BD;
  height: 50%;
  width: 100%;
}
.nav.settings {
  font-size: 32px;
}
.nav.selected .icon {
  fill: #F1973B;
}
#spinner-container {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: none;
}
#spinner-container .spinner {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: .5;
  background-size: contain;
  background-color: transparent;
  background-image: url('../assets/spinner.gif');
}
.profile-overview-container {
  width: calc(100% - 2 * 1px - 2 * 0px - 2 * 10px);
  height: 20%;
  padding: 10px;
  border: 1px solid #E8E9F5;
  border-radius: 3px;
}
.trait-notification {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  color: white;
  padding: 7px 10px;
  margin-bottom: 5px;
  font-weight: bold;
  background-color: #3E18BD;
}
.trait-notification .notification-text {
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}
.trait-notification .close {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.profile-picture-container,
.profile-overview {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
.profile-picture-container {
  width: calc(100% - 65% - 3px);
}
.profile-picture-container .profile-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 3px;
}
.profile-overview {
  width: calc(65% - 2 * 1px - 2 * 0px - 2 * 4px);
  padding: 4px;
}
.profile-overview .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-transform: capitalize;
  height: 25px;
  text-align: left;
}
.profile-overview .overview {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  height: calc(100% - 25px - 2 * 3px - 2px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.selector-container {
  padding: 10px 0;
}
.selection-label {
  margin-top: 5px;
}
.profile-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  width: calc(100% - 2 * 1px - 2 * 0px - 2 * 0px);
  height: 30px;
  border: 1px solid #221122;
}
.profile-selector .select-icon {
  padding: 0 10px;
}
.profile-selector .sort-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  padding: 0 10px;
}
.profile-selector:not(:first-child) {
  margin-top: 10px;
}
.trait-container {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  background-color: #E8E9F5;
  height: 50px;
  position: relative;
  width: 100%;
  margin: 5px 0;
  z-index: 0;
}
.trait-container:first-child {
  margin-top: 0;
}
.trait-container .score-overlay {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: #7658DA;
  z-index: 5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.trait-container .trait-title,
.trait-container .ion-chevron-right {
  padding: 0 10px;
  z-index: 10;
}
.trait-container .trait-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: visible;
  flex-grow: 2;
  -webkit-flex-grow: 2;
  font-weight: bold;
}
.trait-container .trait-title .trait-score {
  font-weight: 400;
}
.measure {
  background-color: #3E18BD;
  color: white;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  width: calc(100% - 2 * 1px - 2 * 0px - 2 * 10px);
  border-radius: 3px;
}
.experiment-metric {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  margin: 0 4px;
  padding: 10px 5px;
}
.experiment-metric.light-gray {
  background-color: #DADADA;
}
.experiment-metrics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  width: 100%;
}
.experiment-metrics .routine-metric {
  background-color: #E8E9F5;
  font-size: 12px;
  height: 35px;
}
.tracking-card {
  border-radius: 3px;
  padding: 0 10px;
}
.changed-width {
  margin: 0 6px;
  width: calc(100% - 2 * 1px - 2 * 6px - 2 * 0px);
}
.padding-top-subview {
  padding-top: 10px;
}
.feedback-container {
  color: #221122;
  position: relative;
}
.feedback-container .feedback-email .email-text {
  margin-top: 10px;
  border: 1px solid #3E18BD;
  padding: 15px;
  width: calc(100% - 2 * 1px - 2 * 0px - 2 * 15px);
}
.feedback-container .feedback-text {
  margin-top: 10px;
  height: 150px;
}
.feedback-container .feedback-text-area {
  height: 100%;
  border-radius: 3px;
  width: calc(100% - 2 * 1px - 2 * 0px - 2 * 15px);
  resize: none;
  padding: 15px;
  border: 1px solid #3E18BD;
}
.feedback-container .feedback-comments {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  height: 100px;
  background-color: #E8E9F5;
  padding: 15px;
}
.feedback-container .feedback-submit-button {
  border-radius: 3px;
  margin: 0 auto;
  background-color: #3E18BD;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  content: "Submit";
  width: 100%;
}
.popup-container {
  border-radius: 3px;
  background-color: white;
  z-index: 12;
  width: 300px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25%;
}
.popup-container .popup-text {
  padding: 20px;
  padding-top: 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  text-align: center;
}
.popup-container .popup-title {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
}
.popup-container .popup-list-container .popup-sublist-item,
.popup-container .popup-list-container .popup-list-item {
  color: #3E18BD;
}
.popup-container .popup-list-container .popup-sublist-item:first-child,
.popup-container .popup-list-container .popup-list-item:first-child {
  border-top: 1px solid #B9B7B7;
  border-bottom: 1px solid #B9B7B7;
}
.popup-container .popup-list-container .popup-sublist-item:not(:first-child),
.popup-container .popup-list-container .popup-list-item:not(:first-child) {
  border-bottom: 1px solid #B9B7B7;
}
.popup-container .popup-list-container .popup-sublist-item {
  padding: 10px;
}
.popup-container .popup-list-container .popup-sublist-item .main-text {
  font-size: 16px;
}
.popup-container .popup-list-container .popup-sublist-item .subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #221122;
}
.popup-container .popup-list-container .popup-list-item {
  font-size: 16px;
  padding: 20px;
}
.popup-container .email-input {
  border-radius: 3px;
  border: 1px solid #3E18BD;
  color: #221122;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 10px;
  width: 80%;
}
.popup-container .email-input ::-webkit-input-placeholder {
  color: #221122;
}
.popup-container .email-input :-moz-placeholder {
  /* Firefox 18- */
  color: #221122;
}
.popup-container .email-input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #221122;
}
.popup-container .email-input :-ms-input-placeholder {
  color: #221122;
}
.popup-container .popup-submit {
  overflow: auto;
  padding: 20px;
}
.popup-container .popup-submit .submit-btn {
  border-radius: 3px;
  padding: 7px 10px;
  display: inline-block;
  font-size: 16px;
  background-color: #3E18BD;
  margin-left: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.no-connection-container {
  background: #3E18BD;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3E18BD 0%, #7162BB 75%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3E18BD 0%, #7162BB 75%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3E18BD 0%, #7162BB 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  display: -webkit-flex;
  color: white;
  height: 100%;
}
.no-connection-container .empty-state-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.no-connection-container .empty-state-subtitle {
  font-size: 16px;
}
.Red {
  color: #F80000;
}
.Purple {
  color: #3E18BD;
}
.Green {
  color: #4DB810;
}
.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}
.font-stroop {
  font-size: 60px;
}
.stroop-button {
  border-radius: 3px;
  padding: 25px 0;
  margin: 10px;
  background-color: #DADADA;
  font-weight: bold;
}
.count-header {
  padding: 10px 0;
  font-size: 20px;
}
.experiments {
  padding-top: 10px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.experiments .experiment-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-align-items: center;
  display: -webkit-flex;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #E8E9F5;
}
.experiments .experiment-card .experiment-description {
  margin-left: 10px;
}
.experiments .experiment-card .card-title {
  font-size: 16px;
}
.experiments .experiment-card.selected-card {
  background-color: #3E18BD;
}
.icon {
  display: block;
  height: 25px;
  width: 25px;
}
.horizontal-space-small {
  margin: 0px 5px;
}
.icon-with-stat {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  display: -webkit-flex;
}
.icon-with-stat .stat {
  font-size: 12px;
}
.icon-star {
  background-image: url('../assets/star-no-fill.svg');
}
.icon-star-filled {
  background-image: url('../assets/star-filled.svg');
}
.icon-chat {
  background-image: url('../assets/chat-bubble.svg');
}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  position: relative;
  height: 8%;
  padding: 10px 0;
  text-align: center;
}
.grow {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px solid #B9B7B7;
}
.dot {
  border: 1px solid #3E18BD;
  border-radius: 5px;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  display: inline-block;
}
.dot.active {
  background-color: #F1973B;
  border: 1px solid #F1973B;
}
.centered {
  margin: 0 auto;
}
.bottom-btn {
  border-radius: 3px;
  text-align: center;
  font-size: 24px;
  background-color: #F1973B;
  padding: 10px 0;
  color: white;
}
.bottom-btn.disabled-btn {
  opacity: 0.75;
}
.btn {
  border-radius: 3px;
  text-align: center;
  font-size: 24px;
}
.text-center {
  text-align: center;
}
.font-large {
  font-size: 16px;
}
.font-xlarge {
  font-size: 24px;
}
.primary-color {
  color: #3E18BD;
}
.bold-number {
  font-weight: bold;
  font-size: 24px;
  padding: 0 5px;
}
@font-face {
  font-family: 'header-font';
  src: url('../assets/fonts/Header.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'primary-font';
  src: url('../assets/fonts/Sansation_Light.ttf');
  font-weight: 400;
}
html {
  height: 100%;
  color: #221122;
  font-size: 14px;
}
html * {
  font-family: 'primary-font', 'Helvetica', 'Arial', 'sans-serif';
}
body {
  margin: 0;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.scroll-bar-indicator {
  display: none;
}
