.Red {
  color: #F80000;
}
.Purple {
  color: @primary-color;
}
.Green {
  color: #4DB810;
}
.rating {
  .flex-center();
}
.font-stroop {
  font-size: 60px;
}
.stroop-button {
  .rounded-borders();
  padding: 25px 0;
  margin: 10px;
  background-color: #DADADA;
  font-weight: bold;
}

.count-header {
  padding: 10px 0;
  font-size: 20px;
}
