.trait-details-container {
  @trait-overview-height: 25%;

  .trait-overview-container {
    .rounded-borders();
    position: relative;
    width: 100%;
    height: @trait-overview-height;
    background-color: @primary-color;
  }
  .trait-title, .trait-stats {
    .width-minus-box(@base-width: 50%);
    display: inline-block;
    font-size: @font-standard;
    flex-grow: 2;
    text-align: center;
    height: 100%;
    vertical-align: top;
    color: white;
  }
  .trait-metrics {
    .flex-center();
    height: 100%;
  }
  .describe-score {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: @font-large;
  }
  .trait-title {
    text-transform: capitalize;
    font-weight: bold;
  }
  .title-text {
    flex-grow: 3;
    font-size: @font-xlarge;
    .flex-center();
  }
  .divider {
    border: 1px solid @primary-color;
  }
  .trait-selected-count {
    font-size: @font-xlarge;
    width: 80%;
    font-weight: bold;
  }
  .flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .comparisons-container, .no-comments {
    padding: 0 15px;
  }
  .trait-voted-list {
    &.empty-state {
      .flex-center();
      .rounded-borders();
      background-color: @secondary-color;
      color: @primary-font-color;
      margin-top: 0;
      text-align: center;
      padding: 0 25px;
    }
    height: calc(100% ~"-" @trait-overview-height ~"-" @subview-container-margin);
    .voted-list-item {
      height: 40px;
      .rounded-borders();
      .flex-left();
      background-color: @secondary-color;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &.negative-sentiment {
        background-color: @primary-color;
      }
      .voted-list-item-sentiment {
        font-size: 25px;
        padding: 0 10px;
      }
      .vote-comment {
        .ellipsis-overflow();
        margin-right: 10px;
      }
    }
  }
  .comment-divider {
    padding: @subview-container-margin;
    font-weight: bold;
  }
}
