.trait-details-container {
  @trait-overview-height: 25%;
  .subview-container-defaults();

  .trait-overview-container {
    .rounded-borders();
    position: relative;
    width: 100%;
    height: @trait-overview-height;
    background-color: @primary-color;
  }
  .trait-title, .trait-stats {
    display: inline-block;
    font-size: @font-standard;
    flex-grow: 2;
    text-align: center;
    width: calc(50% ~"-" 2px);
    height: 100%;
    vertical-align: top;
    color: white;
  }
  .trait-metrics {
    .flex-center();
    height: 100%;
  }
  .trait-label {
    padding: 10px 0;
    position: absolute;
    width: 100%;
  }
  .trait-title {
    text-transform: capitalize;
    font-weight: bold;
  }
  .title-text {
    flex-grow: 3;
    font-size: @font-xlarge;
    .flex-center();
  }
  .divider {
    border: 1px solid @primary-color;
  }
  .trait-selected-count {
    font-size: @font-xlarge;
    height: 55px;
  }
  .flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
  .trait-voted-list {
    &.empty-state {
      background-color: @secondary-color;
      .flex-center();
      color: @primary-font-color;
      text-align: center;
      padding: 20px;
    }
    margin-top: @subview-container-margin;
    height: calc(100% ~"-" @trait-overview-height ~"-" @subview-container-margin);
    .voted-list-item {
      height: 40px;
      .rounded-borders();
      .flex-center();
      justify-content: flex-start;
      background-color: @secondary-color;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &.negative-sentiment {
        background-color: @primary-color;
      }
      .voted-list-item-sentiment {
        font-size: 25px;
        padding: 0 10px;
      }
    }
  }
}
