.trait-details-container {
  @trait-overview-height: 25%;
  @trait-confidence-height: 15%;
  @confidence-margin: 10px;
  @left-padding: 15px;
  .trait-overview-container {
    .rounded-borders();
    position: relative;
    width: 100%;
    height: @trait-overview-height;
    background-color: @primary-color;
    color: white;
    font-size: @font-xlarge;

    .trait-title-subview {
      .width-minus-box(@base-width: 50%, @padding: 1px);
      vertical-align: top;
      display: inline-block;
      height: 100%;
    }
    .title-text, .trait-metrics {
      .flex-center();
      height: 100%;
      text-transform: capitalize;
      font-weight: bold;
    }
    .trait-metrics {
      text-align: center;
    }
    .title-text {
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      padding: 0 @left-padding;
    }
    .describe-score {
      .flex-center();
      position: absolute;
      right: 0;
      top: 0;
      font-size: @font-large;
      height: 25px;
      width: 25px;
      text-align: center;
    }
    .trait-selected-count {
      width: 80%;
    }
  }
  .trait-overview-container.confidence-container {
    height: @trait-confidence-height;
    margin-top: @confidence-margin;
    color: @primary-font-color;
    background-color: @secondary-color;
    font-size: @font-large;
  }

  .trait-comments-container {
    height: calc(100% ~"-" @trait-overview-height ~"-"  @trait-confidence-height ~"-" @confidence-margin);
    .flex-column();
  }

  .comparisons-container {
    padding: 0 calc(@left-padding + 5px);

    .voted-list-item:not(:first-child) {
      margin: 5px 0;
    }
  }

  .comment-divider {
    margin: @left-padding;
    font-weight: bold;
    font-size: @font-large;
  }
}
