@facebook-color: #3b5998;
@primary-color: #3E18BD;
@gradient-to: #7162BB;
//@primary-color: #997799;
@secondary-color: #ddccee;
@primary-font-color: #221122;
@secondary-font-color: #83af9b;
@border-gray: #B9B7B7;
@opaque-white: rgba(255, 255, 255, 0.5);
@opaque-white-darker: rgba(255, 255, 255, 0.8);
@view-background-color: rgba(255, 255, 255, 0.8);

@z-index-top: 10;
@z-index-middle: 5;
@z-index-bottom: 0;
//only used by modal elements
@modal-z-bottom: 11;
@modal-z-middle: 12;
@modal-z-top: 13;

@font-icon-size: 35px;
@font-xlarge: 20px;
@font-large: 16px;
@font-standard: 14px;
@font-smaller: 12px;

@round-border-radius: 3px;
