@selection-container-height: 22vh;
@selection-holder-height: 13vh;
@selection-width: 35%;
@selection-container-x-margin: calc(50% ~"-" @selection-width ~"/" 2 ~"-" @subview-container-margin);

.selection-container {
  position: absolute;
  bottom: 0;
  width: @selection-width;
  height: calc(100% - @card-height - 2 * @subview-container-margin - 28px);
  .flex-column();
  align-items: center;
  justify-content: center;
  margin: 0 @selection-container-x-margin;
}

.selection-holder {
  margin-top: 3%;
  height: @selection-holder-height;
  background-color: @secondary-color;
  border-radius: @selection-holder-height;
  position: relative;
  width: 100%;
}

.icon-set {
  text-align: center;
}

#drag-vote {
  @click-margin: 5px;
  @click-diameter: calc(@selection-holder-height ~"-" @click-margin ~"*" 2);
  margin: @click-margin 0;
  height: @click-diameter;
  width: @click-diameter;
  border-radius: @click-diameter;
  background-color: @primary-color;
  display: inline-block;
  box-shadow: 0 4px 6px -2px #382C2C;
}

.invite-friends-btn {
  .btn-defaults();
  width: 50%;
  margin: 10px auto;
  padding: 20px;
}

.placeholder-blinker, .blinker-text {
  height: 15px;
}
.blinker-text {
  text-align: center;
  font-weight: bold;
  opacity: 0;
  animation: blinker 3s linear infinite;
  font-size: 65%;

  @keyframes blinker {
    50% {
      opacity: 1;
    }
  }
}
