.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.background-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div.login-container,
div.signup-container {
  background-color: #fe4365;
  overflow: hidden;
  height: 100%;
}
div.list.landing {
  position: relative;
  margin-top: 150px;
}
h2.title {
  color: white;
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  text-align: center;
  font-size: 42px;
  margin: 0;
}
button.login {
  margin-top: 20px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
div.login-block ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.login-block :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
div.login-block ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
div.login-block :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
div.login-block input {
  color: white;
}
div.login-block .login-input-container {
  margin: 20px auto;
  width: 225px;
}
div.login-block input,
div.login-block button.login {
  width: 100%;
  border: none;
  font-size: 16px;
}
div.login-block input:focus,
div.login-block button.login:focus {
  outline: none;
}
div.login-block .login-input {
  margin: 5px auto;
  border-bottom: 1px solid white;
  height: 20px;
}
.transparent-inputs input {
  background-color: transparent;
}
input.block {
  display: block;
}
div.button-group {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: white;
}
.bottom {
  position: absolute;
  bottom: 0;
}
div.frame-container {
  height: 100%;
}
div.frame-container .view-container {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  height: calc(100% - 55px - 1px * 2);
  max-height: calc(100% - 55px - 1px * 2);
  background-color: rgba(255, 255, 255, 0.8);
}
div.navbar-container {
  height: 55px;
  background-color: #fe4365;
}
div.navbar-container div.title-container {
  height: 100%;
  display: inline-block;
}
div.navbar-container .title {
  font-family: 'header-font', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 42px;
  color: white;
  margin: 0;
}
div.navbar-container .navigation {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0 5px;
}
div.navbar-container .navigation .nav {
  padding: 17px 5px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
div.voting-container {
  padding: 30px 0;
}
div.votes {
  height: 475px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
}
div.card {
  height: 475px;
  width: 300px;
  background-color: white;
  position: absolute;
  border: 1px solid #d3d3d3;
  padding: 10px;
}
div.card .card-content {
  background-color: #f9cdad;
  height: 100%;
}
div.card .card-content .card-main .candidate-transitioner {
  padding: 0 2px;
  width: calc(50% - 2px * 2);
  display: inline-block;
}
div.card .card-content .card-main .candidate-container {
  width: 100%;
  overflow: hidden;
}
div.card .card-content .card-main .candidate-picture {
  padding: 3px;
  background-color: white;
  height: 150px;
}
div.card .card-content .card-main .candidate-picture img {
  height: 100%;
  width: 100%;
}
div.card .card-content .card-main .candidate-description {
  height: 90px;
  padding: 5px;
}
div.card .card-content .card-main .candidate-description .name,
div.card .card-content .card-main .candidate-description .feedback-name {
  text-align: center;
}
div.card .card-content .card-main .candidate-description .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}
div.card .card-content .card-main .candidate-description .social-description {
  padding: 5px 0;
  height: calc(90px - 5px * 2 - 20px);
  display: flex;
  align-items: center;
}
div.card .card-content .card-main .candidate-description .social-description .friends {
  width: 35%;
}
div.card .card-content .card-main .candidate-description .social-description .location {
  width: 65%;
}
div.card .card-content .card-main .candidate-description .social-description .location,
div.card .card-content .card-main .candidate-description .social-description .friends {
  display: inline-block;
  max-height: 100%;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
}
div.card .card-content .card-header {
  height: 50px;
  justify-content: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: white;
  align-items: center;
}
div.card .card-content .card-comment {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 123px;
  background-color: white;
  color: #83af9b;
}
div.card .card-content .feedback-input-container {
  height: 100%;
  width: 100%;
}
div.card .card-content .feedback-input-container .feedback-input {
  height: 100%;
  width: 100%;
  border: 0;
}
div.card .card-content .feedback-input-container .feedback-input:focus {
  outline: 0;
  resize: none;
}
.profile-container {
  margin: 20px 5px;
  height: 85vh;
  overflow: scroll;
}
.trait-card {
  background-color: #d3d3d3;
}
.main-trait-card {
  background-color: #f9cdad;
}
.profile-picture-container {
  height: 80%;
}
.profile-picture-container .profile-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12108274_10101564644192315_7334749882900604967_n.jpg?oh=e0fee8c71ce074b2ba8180193ae610bb&oe=56E3A4FB");
}
@font-face {
  font-family: 'header-font';
  src: url('../assets/fonts/Header.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'primary-font';
  src: url('../assets/fonts/typeFont.ttf');
  font-weight: 400;
}
html {
  height: 100%;
  font-family: 'primary-font', 'Helvetica', 'Arial', 'sans-serif';
  color: #5D5D5D;
  font-size: 16px;
}
body {
  margin: 0;
  height: 100%;
}
