<div class="subview-container feedback-container">
  <div class="feedback-comments">
    Thank you for using Qelf - feel free to leave comments about anything we can add or change to improve your experience!
  </div>
  <div class="feedback-email">
    <input placeholder="email@qelf.com" class="email-text" ng-model="email" type="text">
  </div>
  <div class="feedback-text">
    <textarea class="feedback-text-area" placeholder="Add your feedback here" ng-model="feedbackText"></textarea>
  </div>
  <div class="feedback-submit">
    <div class="feedback-submit-button" ng-click="submit()">Submit</div>
  </div>
</div>
