<div class="feedback-container">
  <div class="feedback-comments">
    Thank you for using Sheen, we appreciate you and hope that we have created an experience that you love. Feel free to drop us a line about anything we can add or change to improve your experience. Otherwise, feel free to leave us comments, puns, jokes, or poems.
  </div>
  <div class="feedback-text">
    <textarea class="feedback-text-area" placeholder="Add your feedback here" ng-model="feedbackText"></textarea>
  </div>
  <div class="feedback-submit">
    <div class="feedback-submit-button" ng-click="submit()">Submit</div>
  </div>
</div>
