@primary: #5EB343;
@second-primary: #7D26CD;
@background-gray: #d3d3d3;
@opaque-white: rgba(255, 255, 255, 0.5);
@opaque-white-darker: rgba(255, 255, 255, 0.8);

@z-index-top: 10;
@z-index-middle: 5;
@z-index-bottom: 0;
