<div class="subview-container profile-container">
  <div class="profile-overview-container">
    <div class="profile-picture-container">
      <div id="profile-picture" class="profile-picture"></div>
    </div>
    <div class="profile-overview">
      <div class="name">{{user.name}}</div>
      <div class="overview">
        {{overviewSentence}}
      </div>
    </div>
  </div>
  <div class="selectors-container">
    <div class="selector-container">
      <div class="profile-selector" ng-click="sortBy()">
        <div class="sort-text">{{sortByText || 'Sort By'}}</div>
        <div class="select-icon ion-ios-arrow-down">
        </div>
      </div>
      <div class="profile-selector" ng-click="viewByTheme()">
        <div class="sort-text">{{viewTheme || 'View by Theme'}}</div>
        <div class="select-icon ion-ios-arrow-down">
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!$root.user.viewed.traitNote" class="trait-notification">
    <div class="notification-text">We need at least 4 votes for each trait in order to give provide an accurate score.</div>
    <div class="close" ng-click="toggleNotification()">X</div>
  </div>
  <div ng-if="traits" class="traits-container">
    <trait-card ng-repeat="trait in traits" ng-if="trait.display" trait="trait"></trait-card>
  </div>
</div>
