<div class="login-container">
  <div class="list landing">
    <div class="transparent-inputs login-block">
      <h2 class="title">Qelf</h2>
      <div class="sub-title">Discover your persona</div>
    </div>
  </div>
  <div class="login-inputs">
    <input class="login-input" type="text" placeholder="email" ng-model="email">
    <input class="login-input" type="password" placeholder="password" ng-model="password">
  </div>
  <div class="button-group bottom">
    <div class="login-input-container">
      <div class="login-with-fb" ng-if="!isSignup" ng-click="login()"><div class="login-text">Submit</div></div>
      <div class="login-with-fb" ng-if="isSignup" ng-click="signup()"><div class="login-text">Submit</div></div>
    </div>
    <a ng-click="toSignup()" class="login-tag">
      {{ !isSignup ? 'Signup for an Account' : 'Back to Login' }}
    </a>
  </div>
</div>
