<div class="login-container">
  <div class="list landing">
    <div class="transparent-inputs login-block">
      <h2 class="title">Sheen</h2>
      <div class="login-input-container">
        <div ng-if="!isSignup" ng-click="fbLogin()">Login With Facebook</div>
        <div ng-if="isSignup" ng-click="signup()">Signup With Facebook</div>
      </div>
    </div>
  </div>
  <div class="button-group bottom">
    <a ng-click="toSignup()" class="">
      {{ isSignup ? 'Signup' : 'Login' }}
    </a>
  </div>
</div>
