<div class="profile-container">
  <div class="profile-picture">
    <img ng-src="{{contestant.img}}">
  </div>
  <div ng-if="!isFeedback" class="profile-description">
    <div class="name" ng-bind="contestant.name"></div>
    <div class="social-description">
      <span class="friends">
        Friends: 0
      </span
      ><span class="location">
        Location: {{contestant.location}}
      </span>
    </div>
  </div>
  <div ng-if="isFeedback" class="profile-description">
    <div class="feedback-name" ng-bind="contestant.name"></div>
  </div>
</div>
