<div class="candidate-container">
  <div class="candidate-picture">
    <img ng-src="{{contestant.img}}">
  </div>
  <div ng-if="!isFeedback" class="candidate-description">
    <div class="name" ng-bind="contestant.name"></div>
    <div class="social-description">
      <span class="friends">
        Friends: 0
      </span
      ><span class="location" ng-bind="contestant.location"></span>
    </div>
  </div>
  <div ng-if="isFeedback" class="candidate-description">
    <div class="feedback-name" ng-bind="contestant.name"></div>
  </div>
</div>
