<div class="card">
  <div class="card-content">
    <div class="card-header" ng-bind="trait.title">
      HEADER
    </div>
    <div class="card-main">
      <div class="card-candidates">
        <span class="vote-left candidate-transitioner">
          <contestant is-feedback="isFeedback" contestant="contestants[0]"></contestant>
        </span
        ><span class="vote-right candidate-transitioner">
          <contestant is-feedback="isFeedback" contestant="contestants[1]"></contestant>
        </span>
    </div>
    <div class="card-comment">
      <div ng-if="!isFeedback">This is something you vote on</div>
      <div class="feedback-input-container" ng-if="isFeedback"><textarea ng-model="feedback.text" class="feedback-input"></textarea></div>
    </div>
  </div>
</div>
