<div class="voting-container">
  <div class="votes">
    <div class="empty-state" ng-if="emptyVotes">
      <div class="icon-set">
        <i class="empty-icon ion-android-happy"></i>
      </div>
      <div class="empty-state-text">
        <div>No one to vote on, invite some friends!</div>
        <div class="invite-friends-btn" ng-click="share()">Invite Friends!</div>
      </div>
    </div>
    <card ng-if="!emptyVotes" vote="vote" comment="comment" on-submit="submit(vote.id, selected)" ng-repeat="vote in cardManager.display"></card>
  </div>
  <div ng-if="!emptyVotes && !commenting" class="selection-container">
    <div class="selection-holder">
      <div class="click-vote vote-left" ng-click="vote('left')">
        <div class="ion-chevron-left vote-icon"></div>
      </div>
      <div class="click-vote vote-right" ng-click="vote('right')">
        <div class="ion-chevron-right vote-icon"></div>
      </div>
    </div>
    <div class="selection-label">
      <div class="left-label">
        <span>Vote<br>{{cardManager.current.contestants[0].name}}</span>
      </div>
      <div class="right-label">
        <span>Vote<br>{{cardManager.current.contestants[1].name}}</span>
      </div>
    </div>
  </div>
  <div class="card-comment-container" ng-if="commenting">
    <div class="comment-description">
      This is a description of what can happen when you decide to comment
    </div>
    <input enter-submit="submitComment()" placeholder="Leave a comment..." class="comment-text-input" ng-model="comment.text" id="comment-input" type="text">
  </div>
</div>
