<div class="subview-container voting-container">
  <div class="votes">
    <div class="empty-state" ng-if="cardManager.isEmpty">
      <div class="icon-set">
        <i class="empty-icon ion-android-happy"></i>
      </div>
      <div class="empty-state-text">
        <div>No one to vote on, invite some friends!</div>
        <div class="invite-friends-btn" ng-click="share()">Invite Friends!</div>
      </div>
    </div>
    <card ng-if="!cardManager.isEmpty" vote="vote" ng-repeat="vote in cardManager.display"></card>
  </div>
  <div ng-if="!cardManager.isEmpty" class="selection-container">
    <vote-slider submit="vote(result, score)"></vote-slider>
  </div>
</div>
