<div class="subview-container voting-container">
  <div class="votes">
    <div class="empty-state" ng-if="cardManager.isEmpty">
      <div class="icon-set">
        <i class="empty-icon ion-android-happy"></i>
      </div>
      <div class="empty-state-text">
        <div>No one to vote on, invite some friends!</div>
        <div class="invite-friends-btn" ng-click="share()">Invite Friends!</div>
      </div>
    </div>
    <card ng-if="!cardManager.isEmpty" vote="vote" on-submit="submit(vote.id, selected)" ng-repeat="vote in cardManager.display"></card>
  </div>
  <div ng-if="!cardManager.isEmpty" class="selection-container">
    <div class="selection-holder">
      <div class="click-vote" ng-click="vote('left')">
        <div class="ion-chevron-left vote-icon"></div>
      </div>
      <div class="click-vote right" ng-click="vote('right')">
        <div class="ion-chevron-right vote-icon"></div>
      </div>
    </div>
  </div>
</div>
