<div class="trait-details-container">
  <div class="trait-overview-container">
    <div class="trait-title">
      <div class="flex-container">
        <div class="trait-label">
          Trait Overview
        </div>
        <div class="title-text">
          {{trait.templateId}}
        </div>
      </div>
    </div>
    <div class="trait-stats">
      <div class="trait-metrics">
        <div ng-if="enoughVotes" class="trait-selected-count">{{trait.count + ' / '}}{{trait.total.length}}</div>
        <div ng-if="!enoughVotes" class="trait-selected-count">Not enough votes</div>
      </div>
    </div>
  </div>
  <div class="comment-divider">Comments</div>
  <div class="trait-voted-list" ng-class="{
    'empty-state': !enoughVotes
  }">
    <div ng-if="!enoughVotes">
      Not enough votes - please ask your friends to vote more frequently!
    </div>
    <div ng-if="enoughVotes && !voteWithComments.length">
      No comments received on this trait
    </div>
    <div
      ng-if="enoughVotes"
      class="voted-list-item"
      ng-class="{
        'positive-sentiment': !vote.sentiment,
        'negative-sentiment': vote.sentiment
      }"
      ng-repeat="vote in voteWithComments">
      <div class="voted-list-item-sentiment" ng-class="{
        'ion-android-sad': !vote.sentiment,
        'ion-android-happy': vote.sentiment
      }"></div>
      <div class="vote-comment">{{vote.comment}}</div>
    </div>
  </div>
</div>
