<div class="subview-container trait-details-container">
  <div class="trait-overview-container">
    <div class="describe-score" ng-click="showHelp('score')"><div class="ion-help-circled"></div></div>
    <div class="trait-title-subview">
      <div class="title-text">
        {{::trait.templateId}}
      </div>
    </div>
    <div class="trait-title-subview">
      <div class="trait-metrics">
        <div ng-if="enoughVotes" class="trait-selected-count">{{::score}}</div>
        <div ng-if="!enoughVotes" class="trait-selected-count">Not enough votes</div>
      </div>
    </div>
  </div>
  <div class="trait-overview-container confidence-container">
    <div class="ion-help-circled describe-score" ng-click="showHelp('confidence')"></div>
    <div class="trait-title-subview confidence-label">
      <div class="title-text">
        Confidence Rating
      </div>
    </div>
    <div class="trait-title-subview score-label">
      <div class="trait-metrics">
        <div ng-if="enoughVotes" class="trait-selected-count">{{::confidence}}</div>
        <div ng-if="!enoughVotes" class="trait-selected-count">N/A</div>
      </div>
    </div>
  </div>
  <div class="trait-comments-container">
    <div class="comment-divider">Question(s) we asked</div>
    <div class="comparisons-container">
      <div class="voted-list-item" ng-repeat="comparison in ::trait.template.comparisons">"{{::comparison}}"</div>
    </div>
  </div>
</div>
