<div class="rating subview-container flex-column">
  <div ng-if="!started" class="flex-column full-width grow">
    <div class="flex-center full-width grow">
      <div class="font-stroop primary-color" ng-click="start()">Start</div>
    </div>
    <div ng-if="stroopResults">
      Correct: {{stroopResults.correct}} / {{stroopResults.total}}
      Average Reaction Time: {{stroopResults.reactionTime}}
    </div>
  </div>
  <div ng-if="started" class="flex-column full-width grow">
    <div class="flex-center full-width grow">
      <div ng-if="showTime" class="font-xlarge">{{reactionSpeed}} ms</div>
      <div ng-if="currentStroop && !showTime" class="font-stroop {{currentStroop.color}}">{{currentStroop.text}}</div>
    </div>
    <div class="counter full-width flex-center">
      <div class="grow text-center font-xlarge stroop-button" ng-click="!showTime && submit('Red')">R</div>
      <div class="grow text-center font-xlarge stroop-button" ng-click="!showTime && submit('Purple')">P</div>
    </div>
  </div>
</div>
